@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
*{
    padding: 0;
    margin: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Sen', sans-serif;
}

h6 {
	margin: 0;
	font-weight: 500;
    color: #414141;
    font-size: 16px;
}

img {
	max-width: 100%;
}

a{
    text-decoration: none;
}

textarea {
	resize: none;
}

a:hover{
    text-decoration: none;
}

#naslovSlider{
	text-shadow: 0px 0px 13px #000000;
}

.velicinaTexta{
    font-size: 2vw;
}

.velicinaTextaShipping{
    font-size: 4vw;
    color: rgba(255,231,193,1);
}

.margineRow{
    margin-left: 0 !important; 
    margin-right: 0 !important;
}

.bgColorZuta{
	background: linear-gradient(180deg, rgba(255,231,193,1) 0%, rgba(255,231,193,1) 50%, rgba(255,236,208,1) 100%);
}

.txtColorZuta{
	color: rgba(255,231,193,1);
}
.box {
    display: none;
    height: 40%;
    width: 100%;
    position: absolute;
    z-index: 1001;
    background: #D32F2F;
    overflow: hidden;
    text-align: left;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}

.zalepiMeni{
	position: sticky;
	top: 0;
	z-index: 1004;
}
.open-menu {
    display: inline-block;
}
.masthead {
    height: 80vh;
    min-height: 500px;
    /* background-image: url('../images/livingroom2.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.bb_position{
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bb_button__text {
    font-size: 1rem;
    line-height: 3em;
    text-transform: uppercase;
    color: #343a40;
    padding: 0 1em;
    z-index: 2;
  }

  .bb_button__text:hover {
    color: rgba(255,231,193,1);
  }

.bb_button {
    border: 3px solid #343a40;
    text-decoration: none;
    position: relative;
    z-index: 1;
  }
  
  .bb_button--transparent {
    transition: all .2s ease;
    border-color: #343a40;
  }
  
  .bb_button--transparent:hover {
    border-color: rgba(255,231,193,1);
  }
  

  /*HELPER ZA SHOP*/

.spad {
	padding-top: 80px;
	padding-bottom: 80px;
}

/*button helperi*/

.site-btn {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #fff;
	padding: 12px 30px;
	min-width: 138px;
	font-weight: 500;
	border: none;
	background: #414141;
	cursor: pointer;
	line-height: normal;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.btn-line {
	background: transparent;
	border: 2px solid #414141;
	color: #414141;
	padding: 12px 20px;
}

.site-btn.btn-line:hover {
	background: rgba(255,231,193,1);
	border: 2px solid rgba(255,231,193,1);
	color: #fff;
}

/*Product section*/
.product-section .container {
	margin-bottom: -90px;
}

.product-filter {
	list-style: none;
	text-align: center;
	margin-bottom: 90px;
}

.product-filter li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	margin-right: 70px;
	position: relative;
	cursor: pointer;
	transition: 0.2s ease;
}

.product-filter li:hover {
	color: rgba(255,231,193,1);
}

.product-filter li:last-child {
	margin-right: 0;
}

.product-filter li:last-child:after {
	display: none;
}

.product-filter li:after {
	position: absolute;
	content: "";
	height: 25px;
	width: 1px;
	right: -34px;
	top: 3px;
	background: #414141;
	-webkit-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

.product-item {
	margin-bottom: 95px;
}

.product-item figure {
	margin-bottom: 45px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	position: relative;
}

.product-item figure img {
	min-width: 100%;
}

.product-item figure:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	border: 2px solid #ebebeb;
}

.product-item .bache {
	position: absolute;
	min-width: 59px;
	height: 59px;
	right: 0;
	top: 0;
	color: #fff;
	font-size: 14px;
	padding: 20px 10px 0;
	text-align: center;
	background: #414141;
	z-index: 3;
}

.product-item .bache.sale {
	background: #fd0018;
}

.product-item .product-info {
	text-align: center;
}

.product-item .product-info h6 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 5px;
}

.product-item .product-info p {
	font-size: 24px;
	font-weight: 700;
	color: #414141;
}

.product-item .product-info p span {
	font-size: 14px;
	font-weight: 400;
	color: #000;
}

.btnSort{
	background-color: rgba(255,231,193,1) !important;
	color: #212529 !important;
}

.uspesnoDodato{
	position: fixed;
	background-color: #e0e0e0;
	border: 4px solid rgba(255,231,193,1);
	top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 1005;
	display: none;
}

/*CONTACT*/
/*HELPER za input ERRORE*/

.displayError{
	display: flex;
}

.helper-width{
	width: 33.33% !important;
}

.msgInvalid{
	border: 1px solid red;
}

.msgValid{
	border: 1px solid lightgreen;
}

#msgError{
	color: red;
}

#message{
	width: 90%;
	padding-bottom: 15%;
}
/*FOOTER*/

.bgColorFooter{
	background-color: #ededed;
}


footer i:hover{
	color: rgba(255,231,193,1) !important;
	transition: 0.35s;
}

.zalepiDoleFooter{
	position: sticky;
	bottom: 0;
}

.table td{
	vertical-align: middle !important;
}

.table td i{
	font-size: 2vw;
}

.table td i:hover{
	color: rgba(255,231,193,1) !important;
	transition: 0.35s;
	cursor: pointer;
}


/*GOOGLE MAP*/
#map{
	width: 100%;
	height: 930px;
}